/* --- AUTOHIDE NAVBAR ---------------------------------- */

:root {
	--uc-navbar-transform: calc(0px - 24px);
}

#navigator-toolbox > div {
	display: contents;
}

:root[sessionrestored] :where(
	#nav-bar,
	#PersonalToolbar,
	#tab-notification-deck,
	.global-notificationbox
) {
	transform: translateY(var(--uc-navbar-transform));
    height: 20px !important;
}

:root:is([customizing], [chromehidden*="toolbar"]) :where(
	#nav-bar,
	#PersonalToolbar,
	#tab-notification-deck,
	.global-notificationbox
) {
	transform: none !important;
	opacity: 1 !important;
    height: 20px !important;
}

#nav-bar:not([customizing]) {
	opacity: 0;
	position: relative;
	z-index: 2;
    height: 20px !important;
}

#titlebar {
	position: relative;
	z-index: 3;
}

#navigator-toolbox,
#sidebar-box,
#sidebar-main,
#sidebar-splitter,
#tabbrowser-tabbox {
	z-index: auto !important;
}

/* Show when toolbox is hovered */
#titlebar:hover ~ .browser-toolbar,
.browser-titlebar:hover ~ :is(#nav-bar, #PersonalToolbar),
#nav-bar:hover,
#nav-bar:hover + #PersonalToolbar {
	transform: translateY(0);
	opacity: 1;
    height: 20px !important;
    transition: 0s ease-in-out !important;
}

/* This ruleset is separate, because not having :has support breaks other selectors as well */
#mainPopupSet:has(> [panelopen]:not(
	#ask-chat-shortcuts,
	#selection-shortcut-action-panel,
	#chat-shortcuts-options-panel,
	#tab-preview-panel
)) ~ #navigator-toolbox > .browser-toolbar {
	transform: translateY(0);
	opacity: 1;
    height: 20px !important;
}

/* Move up the content view */
:root[sessionrestored]:not([chromehidden~="toolbar"]) > body > #browser {
	margin-top: -35px !important;
}
