#urlbar {
    opacity: 0;
    pointer-events: none !important;
    cursor: default !important;
    border-radius: 12px !important;
    background: #282828 !important;
    box-shadow: 0 4px 24px rgba(0,0,0,0.18);
    color: #e0e0e0 !important;
    min-height: 65px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    border: 2px solid wheat!important;
    transition: 0px !important;
}
#urlbar:active,
#urlbar:focus-within {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 200 !important;
    opacity: 1;
    background: #282828 !important;
    box-shadow: 0 8px 32px rgba(0,0,0,0.22);
    color: #fff !important;
    padding: 20px !important;
    border: 2px solid wheat!important;
    border-radius: 0px !important;
    transition: 0px !important;
}
#main-window:-moz-window-inactive #urlbar:not(:focus-within) {
    opacity: 0 !important;
    visibility: hidden !important;
}
